<%
  options = {
    1 => { color: '#ffad00', title: 'Первое место'},
    2 => { color: '#C0C0C0', title: 'Второе место'},
    3 => { color: '#CD7F32', title: 'Третье место'},
  }
%>
<% (1..3).each do |place| %>
  <% if count = @positions_count[place] %>
    <div class="mx-2" style="color: <%= options[place][:color] %>;">
      <i class="medal-icon" title="<%= options[place][:title] %>"></i> x <%= count %>
    </div>
  <% end %>
<% end %>
