<!-- Header -->
<div class="py-5 bg-image-full" style="background-image: url('/images/plate.png')">
  <div class="text-center my-2">
    <h1 class="text-dark fs-1 fw-bold"><%= @athlete.name %></h1>
  </div>
</div>
<h2>Выступления за клуб</h2>

<h2>Профили</h2>
<p>
  <% %i[s95 probeg fiveverst parkrun].each do |contact_type| %>
    <% next unless (contact_url = @athlete.public_send("#{contact_type}_link")).present? %>

    <%= link_to contact_url, class: 'text-decoration-none' do %>
      <%= image_tag "/contacts/#{contact_type}.png", class: 'rounded-circle border border-opacity-25', style: 'width: 50px;' %>
    <% end %>
  <% end %>
</p>
