// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
$primary-color: #c91417 !default;
$secondary-color: #FCEA10 !default;
$table-stripe-color: lighten($primary-color, 70%) !default;
$link-color: #25283D !default;
$text-color: #0f0f0f !default;
$error-color: #8F3985 !default;
$breadcrumbs-color: $link-color !default;
$table-error-color: lighten($error-color, 25%);

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';
@import "active_admin/searchable_select";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
body {
  font-size: 82%;
}

tr.ex {
  td.col-first_name, td.col-last_name {
    color: white !important;
    background-color: grey !important;
  }
}
