$primary: #2a2951;
$secondary: #fcea10;
$success: #169873;
$danger: #c91417;
$warning: #8f3985;
$info: #9ebd6e;
$light: #f0f0f0;
$dark: #0f0f0f;
$navbar-dark-brand-color: white;
$navbar-dark-active-color: $secondary;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "bootstrap";
@import "font-awesome";

@mixin media($query) {
  @if $query == phoneScreen {
    @media (max-width: 768px) { @content; }
  }
}

body {
  min-height: 100vh;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

@include media(phoneScreen) {
  .hidden-on-phone {
    display: none;
  }
}
