$primary: #2a2951;
$secondary: #fcea10;
$success: #169873;
$danger: #c91417;
$warning: #8f3985;
$info: #9ebd6e;
$light: #f0f0f0;
$dark: #0f0f0f;

@import "bootstrap";
@import "font-awesome";

@mixin media($query) {
  @if $query == phoneScreen {
    @media (max-width: 768px) { @content; }
  }
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}
