$primary: #2a2951;
$secondary: #fff8ef;
$success: #169873;
$danger: #FF3300;
$warning: #fcea10;
$info: #9ebd6e;
$light: #f0f0f0;
$dark: #0f0f0f;
$navbar-dark-brand-color: white;
$navbar-dark-active-color: $secondary;

@font-face {
  font-family: 'Open Sans';
  src: font-url('OpenSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: font-url('Orbitron.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

$font-family-sans-serif: 'Open Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

@import 'bootstrap';
@import 'font-awesome';

@mixin media($query) {
  @if $query == phoneScreen {
    @media (max-width: 576px) { @content; }
  }
}

.section {
  @extend .container-lg, .mx-auto, .px-3, .px-md-4, .px-xl-0;
  @media (min-width: 1080px) {
    max-width: 1080px;
  }
}

header.main-header {
  background-image: url('/images/main_header.png');
  background-position: center;
  background-size: cover;
  height: 310px;
  @include media(phoneScreen) {
    height: 210px;
  }
}

.navbar-toggler {
  @extend .border-0;
}

.img-logo {
  max-height: 28px;
  @include media(phoneScreen) {
    max-height: 19px;
  }
}

.img-logo-footer {
  max-height: 18px;
  @include media(phoneScreen) {
    max-height: 12px;
  }
}

.footer-text {
  color: white;
  font-size: 0.7rem;
}

.footer-link {
  @extend .text-decoration-none;
  color: white;
}

.footer-link:hover {
  color: #ffe500;
}

a.nav-link.active {
  @extend .bg-light, .rounded, .p-1, .m-1;
}

.img-feed {
  @extend .object-fit-cover, .w-100;

  @include media(phoneScreen) {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
  }
}

.athlete-img {
  @extend .rounded-circle, .my-4;
  max-width: 400px !important;
  @include media(phoneScreen) {
    max-width: 200px !important;
  }
}

.athlete-thumb-img {
  max-width: 125px !important;
  @include media(phoneScreen) {
    max-width: 85px !important;
  }
}

.partner-img {
  max-height: 120px;
  max-width: 30vw;
  @include media(phoneScreen) {
    max-height: 90px;
  }
}

@include media(phoneScreen) {
  .hidden-on-phone {
    display: none;
  }

  table {
    font-size: $small-font-size;
  }

  a.nav-link.active {
    margin-left: 0 !important;
  }
}

.social-link {
  @extend .rounded-circle, .border, .border-opacity-25, .m-1;
  width: 60px;
  @include media(phoneScreen) {
    width: 50px;
  }
}

.medal-icon {
  @extend .fa-solid, .fa-medal, .fa-2xl;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  @include media(phoneScreen) {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
      }
}

.digits {
  font-family: 'Orbitron', 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: $danger;
}
