<% head_info :description, 'Основные достижения участников клуба Engirunners' %>
<div class="section my-5">
  <h1 class="fs-1 fw-bold mb-4"><%= head_info :title, 'Достижения' %></h1>
  <%= image_tag '/images/achievements.webp', class: 'img-fluid mt-4', alt: 'Достижения Engirunners', title: 'Достижения Engirunners' %>
  <% @achievements.each do |achievement| %>
    <% if achievement.title.present? %>
      <h2 class="mb-2"><%= achievement.title %></h2>
    <% end %>
    <div class="my-3 description">
      <%= sanitized_text achievement.description %>
    </div>
  <% end %>
</div>
